* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #596377; 
}

a, 
a:link, 
a:visited, 
a:hover,
a:active {
  color: inherit;
  text-decoration:none;
}

ol,
ul {
  list-style: none;
}

h1, h2, h3 {
  color: #2c3e50;
}

/** Header **/

.header {
  background-color: #FFF;  
  position: sticky;
  top: 0;
  z-index: 100;  
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  width: 100%;  
}

.header ul {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 30px;
}

.header-left .text {
  margin-left: 0;
  font-size: 1.4em;
}

.header-left img {
  max-width: 40px;
}

.header-right {
  font-size: 1em;
}

.container {
  font-size: 14px;
}

@media screen and (min-width: 760px) {

  .header ul {
    padding: 0 20px;
  }

  .header-left img {
    width: 40px;
  }

  .header-left .text {
    font-size: 2.4em;   
    margin-left: 5px;
  }

  .header-right {
    font-size: 1.2em;
  }
}

/* Main */
.container {
  max-width: 350px;
  margin: 0 auto;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.main-title {
  font-weight: 400;
  font-size: 1.5em;
}

.main-img {
  height: 60px;
}

.main-definition-img { 
  max-width: 300px;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid #5E9BC6;
}

.main-subtitle {
  font-size: 1.2em;
  padding-bottom: 8px;
  margin: 15px auto 10px;
  position: relative;
}

.main-subtitle::after,
.main-subtitle::before {
  content: "";
  position: absolute;
  height: 6px;
  background: #FFB84F;
  bottom: 0;
}

.main-subtitle::after {
  left: 0;
  width: 40px;
}

.main-subtitle::before {
  left: 50px;
  width: 15px;
}

.code {
  display: inline-flex;
  background-color: #2c3e50;
  color: #FFF;
  padding: 12px;
  margin: 10px 20px 10px 0px;
  font-family: monospace;
  font-size: 12px;
  border-radius: 5px;
}

.selector {
  font-family: inherit;
  color: #FFB84F;
  padding-right: 2px;
}

.property {
  font-family: inherit;
  color: #5E9BC6;
  padding-left: 3px;
  padding-right: 2px;
}

.value {
  font-family: inherit;
  color: #D37754;
  padding-left: 2px;
}

.main-description { margin-top: 20px; }

@media screen and (min-width: 768px) {
  .container { max-width: 760px; font-size: 16px; }  
  .main-definition-img1 { max-width: 380px; }
  .main-definition-img2 { max-width: 480px; }
  .main-description { margin: 20px auto 10px; }
  .main-title { font-size: 2em; }  
  .code { font-size: 14px;}
  .selector { padding-right: 5px; }
  .property { 
    padding-left: 5px;
    padding-right: 3px;
  }
  .value { padding-left: 5px; }
}

@media screen and (min-width: 1366px) {
  .container { max-width: 1200px; }
}

@media screen and (min-width: 1440px) {
  .container { max-width: 1400px; }
  
}

@media screen and (max-width: 320px) {  
  .container { max-width: 300px; }
}
