		.contenedor { 
			width: 300px;
			height: 200px;
			background: #FFF;
			padding: 0;
			border: 10px solid #2C3E50;
			margin: 10px auto;
		}

		.elemento {
			color: #FFF;
			margin: 5px;
			background: #E67E22;
			text-align: center;
		}

		.example {
			margin-bottom: 35px;
		}

		.element-flex1 {
			width: 30px;
			height: 30px;
		}

		.flex-content1 {
			display: flex;
			/* flex-direction: row | column | row-reverse | column-reverse*/
			flex-direction: column;
		}

		.flex-content2 {
			display: flex;
			/* Si un elemento no cabe lo baja si es wrap, si es no-wrap se ajusta a una linea no respeta el ancho y no los centra, va de izquierda a derecha*/
			/* flex-wrap: no-wrap | wrap | wrap-reverse */
			flex-wrap: wrap;
			height: 150px;
		}

		.element-flex2 {
			width: 200px;
			height: 30px;
		}
		
		.flex-content3 {
			display: flex;
			/* flex-flow: Es un atajo de flex-direction y flex-wrap */
			flex-flow: row wrap-reverse;
			height: 150px;
		}

		.element-flex3 {
			width: 150px;
			height: 30px;
		}

		.flex-content4 {
			display: flex;
			/* justify-content: flex-start | flex-end | center | space-around | space-between */
			justify-content: flex-end;
			height: 120px;
		}

		.element-flex4 {
			width: 30px;
			height: 30px;
		}

		.flex-content5 {
			display: flex;
			justify-content: center;
			height: 120px;
		}

		.element-flex5 {
			width: 30px;
			height: 30px;
		}

		.contenedor.flex-content6 {
			display: flex;
			justify-content: space-around;
			height: 120px;
			padding: 5px 0;
		}

		.element-flex6 {
			width: 30px;
			height: 30px;
			margin: 0;
		}
		
		.contenedor.flex-content7 {
			display: flex;
			justify-content: space-between;
			height: 120px;
			padding: 5px 0;
		}

		.element-flex7 {
			width: 30px;
			height: 30px;
			margin: 0;
		}

		.contenedor.flex-content8 {
			display: flex;
			justify-content: space-evenly;
			height: 120px;
			padding: 5px 0;
		}

		.element-flex8 {
			width: 30px;
			height: 30px;
			margin: 0;
		}

		.contenedor.flex-content9 {
			display: flex;
			height: 120px;
			padding: 5px 0;
			align-items: center;
		}

		.element-flex9 {
			width: 30px;
			height: 30px;
		}

		.contenedor.flex-content10 {
			display: flex;
			height: 120px;
			padding: 5px 0;
			align-items: flex-end;
		}

		.element-flex10 {
			width: 30px;
			height: 30px;
		}

		.contenedor.flex-content11 {
			display: flex;
			height: 120px;
			padding: 5px 0;
			align-items: stretch;
		}

		.element-flex11 {
			width: 30px;
		}

		.contenedor.flex-content12 {
			display: flex;
			height: 170px;
			padding: 5px 0;
			flex-direction: column;
			align-items: stretch;
		}

		.element-flex12 {
			height: 20px;
		}

		.contenedor.flex-content13 {
			display: flex;
			height: 120px;
			padding: 5px 0;
			align-items: baseline;
			position: relative;
		}

		.element-flex13 {
			width: 30px;
			height: 30px;			
		}

		.contenedor.flex-content13::before {
			content: "";
			position: absolute;
			width: 100%;
			border: 1px dashed #2C3E50;
			left: 0;
			top: 27px;
		}

		.element-flex13:nth-child(2) {
			height: 25px;
		}

		.element-flex13:nth-child(3) {
			height: 40px;
		}


		.section-additional {
			margin: 20px 0 50px;
		}

		.section-additional h2 {
			font-size: 2em;
		}

		.section-additional .link {
			color: #007db5;
			font-weight: 600;
			margin: 0 3px;
		}

		@media screen and (min-width: 768px) {
			.contenedor {
				width: 500px; 
				margin: 10px 0;
			}
		}