*,
*::before,
*::after { 
  box-sizing: border-box; 
  outline: none;
  margin: 0;
  padding: 0;
}

.example01 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.example01::after,
.example01::before {
  content: "";
  display: block;
  height: 5px;
  flex: 1;
}

.example01::before {
  background: linear-gradient(to left, red, yellow);
  margin-right: 10px;
}

.example01::after {
  background: linear-gradient(to left, yellow, red);
  margin-left: 10px;
}

